DATASET="ego4d"
VAL="False"
MODEL_PATH="pretrained/ego4d_pretrained.pth"
VIDEO_FEATURE_PATH="features/ego4d/omnivore_features_ego4d/"
CAPTION_DATA_TRAIN="data/ego4d/ego4d_train.csv"
CAPTION_DATA_VAL="data/ego4d/ego4d_val.csv"
CAPTION_DATA_TEST="data/ego4d/ego4d_test.csv"
EGO4D_METADATA="data/ego4d/ego4d_metadata.csv"
EPIC_METADATA="data/epic/epic_metadata.csv"
EPIC_ALL_DATA="data/epic/epic_all_data.csv"
BERT_FEATURES="features/ego4d/BERT_features_ego4d.lmdb"
RESULTS_PATH="results/ego4d/"
EGOVLP_DATA="data/ego4d/egovlp_params_correct.json"
LOG_DIR="logs/ego4d"
LEARNING_RATE=1e-5
TRAIN_BATCH_SIZE=32
EPOCHS=100
VAL_FREQUENCY=1
LOG_FREQUENCY=10
CHECKPOINT_SAVE_PATH="checkpoints/ego4d"
CHECKPOINT_FREQUENCY=1
WORKER_COUNT=6
SAME_VID_SAMPLING=True
CROSS_ATTENTION=True
BALANCED=True
COMBINE=True
FIXED_CLIP_LENGTH="None"
CLIP_ADJACENT_TIMESTAMPS="None"
EGOVLP=False
PRED_THRESHOLD=0.8
FPS=30
FEATURE_STRIDE=16
SEG_SIZE=2000
OVERLAP=1000
VISUAL_FEATURE_ORIG_DIM=1536
CAP_ORIG_DIM=768
SHARED_PROJECTION_DIM=2048
FEATURE_EMBED_DIM=3072
LINEAR_HIDDEN_DIM=1024
NUM_HEADS=6
